.clearboth{
    clear: both;
}
.navbar-right li{
    float: right;
}
.votelist{
    border-width: 1px 1px 1px 20px;
    padding: 5px 15px;
    margin: 0 35px 35px 0;
    width: 100%;
    color: #2D2D2D;
    border: solid;
    border-width: 0 0 0 5px;
    border-color: #00ADF2;
}
.emergency{
    border-color: #FF3A3A;
}
.voted{
    border-color: #2D2D2D;
}
.votelink:hover{
    text-decoration: none;
}
.votelink:hover .votetitle{
    text-decoration: underline;
}
.date,
.voteroommaxselect{
    font-size: small;
    margin-bottom: 5px;
}
.votetitle{
    clear: both;
    font-size: 120%;
    margin-bottom: 5px;
    color: #00ADF2;
    font-weight: 700;
}
.emergency .votetitle{
    color: #FF3A3A;
}
.voted .votetitle{
    color: #2D2D2D;
}
.votecountdown{
    margin-top: 15px;
    color: #00ADF2;
}
.emergency .votecountdown{
    color: #FF3A3A;
}
.voted .votecountdown{
    color: #2D2D2D;
}
#votevideo{
    width: 100%;
}
.voteroomtitle{
    font-size: x-large;
    font-weight: 700;
    margin: 15px 0;
}
.voteroomdate{
    font-size: small;
}
#voteform{
    margin: 25px 0;
}
#voteform input[type="radio"],
#voteform input[type="checkbox"]{
    opacity: 0 !important;
    width: 0 !important;
    position: absolute !important;
}
#voteform input+label div{
    border-radius: 15px;
}
#voteform input:checked+label div{
    font-weight:800;
    background: white;
    color: white;
}
#voteform input:checked+label div.radioPositive{
    Background:#57C54F;
}
#voteform input:checked+label div.radioNegative{
    Background:#FF6161;
}
#voteform input:checked+label div.radioNonjudge{
    Background:#919191;
}
.radioPositive{
    border: 1px solid #57C54F;
    color: #57C54F;
}
.radioNegative{
    border: 1px solid #FF6161;
    color: #FF6161;
}
.radioNonjudge{
    border: 1px solid #919191;
    color: #919191;
}
.h5outer{
    border: 1px black solid;
    border-width: 0 0 1px 0;
    text-align:left;
}
#voteform input+label,
.disableradio{
    line-height: 50px;
    width: 100%;
    text-align:center;
    color:white;
    cursor:pointer;
}
.disableradio{
    width: 250px;
    Background:#393939;
    border-radius:15px;
    cursor:default;
}
.btn-submit{
    clear: both;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.center{
    text-align: center;
    margin: auto;
}
.submit-area{
    clear: both;
}
.submit-area i{
    color: red;
}
#footer{
    margin-top:60px;
    padding: 15px;
    color: #696969;
    text-align: center;
    width: 100%;
    Background: #393939;
}